<!DOCTYPE html>
<html>
<head>
	<title>Multimedia</title>
</head>
<body>
		<p>Iniciar sesion con Facebook:</p>
		<fb:login-button perms="email,user_birthday"></fb:login-button>	
		<script src="http://codeorigin.jquery.com/jquery-1.10.2.min.js"></script>
		<input type="submit" value="twitter"/>
<!--<script>
	$(function() {
		$.ajax({
			url: '//connect.facebook.net/es_ES/all.js',
	    	dataType: 'script',
	    	cache: true,
	  	});
	});


	$(function() {
		$.ajax({
	    	url: '//connect.facebook.net/es_ES/all.js',
	    	dataType: 'script',
	    	cache: true,
	    	success: function() {
		      	FB.init({
		        	appId: '1476149992603418',
		        	xfbml: true
		      	});
		      	FB.Event.subscribe('auth.authResponseChange', function(response) {
		        	if (response && response.status == 'connected') {
		          	FB.api('/me', function(response) {
			            alert('Nombre: ' + response.name);
		          		});
		        	}
		        	else{
		        		alert('Nooooo')
		        	}
		     	});
	    	}
	  	});
	});
</script>-->
</body>
</html>