<div>
    <form class="formpago" id="frmPago" action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <!--
         <input type='hidden' name='cmd' value='_xclick'>
         <input type='hidden' name='business' value='jamdiazdiaz@gmail.com'>
         <input type='hidden' name='item_name' value='Core Spring 3.0 y 4.0 Presencial'>
         <input type='hidden' name='item_number' value='7'>
         <input type="hidden" name="quantity" id="CANTIDADPAYPAL" value="1">
         <input type="hidden" name="discount_amount" id="DESCUENTOPAYPAL" value="0">
         <input type='hidden' name='amount' id="MONTOPAYPAL" value='400'>
         <input type='hidden' name='page_style' value='primary'>
         <input type='hidden' name='no_shipping' value='1'>
         <input type='hidden' name='return' id="returnpaypal" value='http://academia.joedayz.pe/paypal/gracias'>
         <input type='hidden' name='rm' value='2'>
         <input type='hidden' name='no_note' value='1'>
         <input type='hidden' name='currency_code' value='PEN'>
         <input type='hidden' name='cn' value='PP-BuyNowBF'>
         <input type='hidden' name='custom' value=''>
         <input type='hidden' name='lc' value='es'>
         -->


        <p><b>Curso:</b> Core Spring 3.0 y 4.0 Presencial </p>

        <p><b>Precio:</b> S/. 1000.00</p>

        <!--
                <input type='hidden' name='CURSO' id="CURSO" value='Core Spring 3.0 y 4.0 Presencial'>


                <div>
                    <input type="text" name="NOMBRE" id="NOMBRE" placeholder="(*) Nombre"/>
                </div>
                <div>
                    <input type="text" name="APELLIDO" id="APELLIDO" placeholder="(*) Apellidos"/>
                </div>
                <div>
                    <input type="text" name="EMAIL" id="EMAIL" placeholder="(*) Email"/>
                </div>
                <div>
                    <input type="text" name="TELEFONO" id="TELEFONO" placeholder="Telefono"/>
                </div>
                -->

        <div>
            <button class="btn btn-primary" id="btnRealizarPago" type="button">Realizar pago</button>
        </div>
    </form>
</div>