{% extends 'masterpage.html' %}

{% block css %}
    <link href="{{ STATIC_URL }}css/styleHome.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/styleContacto.css" rel="stylesheet">
{% endblock css %}

{% block title %}
    joeHangout - JoeDayz Academy
{% endblock title %}

{% block cuerpo %}
    <div class="cuerpo cursos">
        <div class="corpus">
            <div class="title">
                <h1>joeHangout</h1>
            </div>
            <div class="contenedor">
                <div class="col-md-3">
                </div>
                <div class="col-md-7">
                    <article>

                    </article>
                </div>
            </div>
        </div>
    </div>
{% endblock cuerpo %}